@model IEnumerable<Two_tables_mvc.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Product_List</h2>

<p>
    @Html.ActionLink("Category Details", "Category")
</p>
<p>
    @Html.ActionLink("Create", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.CategoryId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.CategoryName)
    </td>
    <td>

        @Html.ActionLink("Edit", "Edit", new { id = item.PId }) |
        @Html.ActionLink("Details", "Details", new { id = item.PId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PId })
    </td>
</tr>
}

</table>
