@model IEnumerable<Task_Prod_Catagory.Models.Product>

@{
    ViewBag.Title = "ViewProduct";
}

<h2>ViewProduct</h2>

<p>
    @Html.ActionLink("Create New", "Register","Product")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PId })
        </td>
    </tr>
}

</table>
