@model IEnumerable<Practise.Models.Custom>

@{
    ViewBag.Title = "ViewCustomer";
}

<h2>ViewCustomer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prod.Pname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prod.Pname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cid })
        </td>
    </tr>
}

</table>
